<div class="container">
  <div class="row">
    <%@faculties.each do|faculty|%>
      <% ongoing_projects=faculty.getOngoingProjects(faculty.id) %>
      <% completed_projects=faculty.getCompletedProjects(faculty.id) %>
      <% op_ctr=ongoing_projects.count %>
      <% cp_ctr=completed_projects.count %>
      <% students=faculty.getStudents %>
    
    <div class="col-md-12 col-sm-12" id="column">
      <div class="panel" style="border:1px solid #072c61; margin-bottom: 50px;">
        <div class="panel-heading text-center" style="font-family: 'Merriweather',serif; color: white; background-color: #072c61; font-weight: bold; display: flex;">
          <span><%=image_tag faculty.pic, class:"img-responsive fac_image"%></span>
          <span class="text-center" style="margin-left: 40%; margin-top: 10px;"><a href="/active_incharge/facultyProfile?name=<%=faculty.name%>" style="color: white;"><%=faculty.name%></a></span>
        </div>
        <div class="panel-body text-center">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center" style="color: #072c61; font-family: 'Merriweather'">Project</th>
                <th class="text-center" style="font-family: 'Merriweather';color: #072c61;">Status</th>
                <th class="text-center" style="font-family: 'Merriweather';color: #072c61;">Students</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <ul class="list-group">
                    <% if ongoing_projects.size == 0 and completed_projects.size==0%>
                      <li class="list-group-item pname">-</li>
                    <% else %>
                      <% ongoing_projects.each do |p| %>
                         <li class="list-group-item pname list-group-item-success"><%=p.ProjectName.humanize%></li>
                      <% end %>  
                      <% completed_projects.each do |p| %>
                        <li class="list-group-item pname list-group-item-warning"><%=p.ProjectName.humanize%></li>
                      <% end %>
                    <% end %>
                  </ul>
                </td>
                <td>
                  <ul class="list-group">
                    <%temp_op_ctr = op_ctr%>
                    <%temp_cp_ctr = cp_ctr%>
                    <% if op_ctr == 0 and cp_ctr==0 %>
                      <li class="list-group-item pname">-</li>
                    <% else %>
                      <% while op_ctr>0 %>
                        <li class="list-group-item pname list-group-item-success">Ongoing</li>
                        <% op_ctr-=1%>
                      <% end %>
                      <% while cp_ctr>0 %>
                        <li class="list-group-item pname list-group-item-warning">Completed</li>
                        <% cp_ctr-=1%>
                      <% end %>
                    <% end %>
                  </ul>
                </td>
                <td>
                  <ul class="list-group">
                    <% no_of_student = students.size %>
                    <% if no_of_student == 0 %>
                      <li class="list-group-item pname">-</li>
                    <% else %>
                      <% students.each do |s| %>
                        <% count = 0 %>
                        <% email2 = false %>
                        <% email3 = false %>
                        <% email4 = false %>
                        <% email5 = false %>
                        <% if temp_op_ctr > 0 %>
                          <li class="list-group-item pname list-group-item-success">
                            <% temp_op_ctr-=1 %>
                        <% elsif temp_cp_ctr > 0 %>
                          <li class="list-group-item pname list-group-item-warning">
                            <% temp_cp_ctr-=1 %>
                        <% end %>

                        <% if(s.email1 && s.email1!="") %>
                          <a href="/active_incharge/student_profile?id=<%=s.getUserId(s.email1)%>"><%= s.getUserName(s.email1) %></a>
                        <% end %> 

                        <% if(s.email2 && s.email2!="") %>
                          <%email2=true%>
                          <% count += 1 %>
                        <% end %>
                        <% if(s.email3 && s.email3!="") %>
                          <%email3=true%>
                          <% count += 1 %>
                        <% end %>
                        <% if(s.email4 && s.email4!="") %>
                          <%email4=true%>
                          <% count += 1 %>
                        <% end %>
                        <% if(s.email5 && s.email5!="") %>
                          <%email5=true%>
                          <% count += 1 %>
                        <% end %>

                        <% if count > 0%>
                          <span class="dropdown">
                          <span class="dropdown-toggle" data-toggle="dropdown">& <%=count%> more&nbsp;<span class="caret" style="cursor: pointer"></span>
                          </span>
                          <ul class="dropdown-menu" style="padding: 10px;">
                            <% if email2 == true %>
                              <li><a href="/active_incharge/student_profile?id=<%=s.getUserId(s.email2)%>"><%= s.getUserName(s.email2) %></a></li>
                            <% end %>
                            <% if email3 == true %>
                              <li><a href="/active_incharge/student_profile?id=<%=s.getUserId(s.email3)%>"><%= s.getUserName(s.email3) %></a></li>
                            <% end %>
                            <% if email4 == true %>
                              <li><a href="/active_incharge/student_profile?id=<%=s.getUserId(s.email4)%>"><%= s.getUserName(s.email4) %></a></li>
                            <% end %>
                            <% if email5 == true %>
                              <li><a href="/active_incharge/student_profile?id=<%=s.getUserId(s.email5)%>"><%= s.getUserName(s.email5) %></a></li>
                            <% end %>
                          </ul>
                        </span>
                        
                        <% end %>
                        </li>
                      <% end %>
                      <% end %>
                  </ul>
                </td>
              </tr>
            </tbody>
           </table>
      </div>
    </div>
  </div>
  <% end %>

</div>
</div>
<style type="text/css">

.col-sm-12{
  font-size: 0.9em;
}
  .list-group-item{
    border-left: 0px;
    border-right: 0px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -9px;
  }
  .list-group-item-success{
    border: 1px solid black;
    background-color: #a3e88d;
  }
  .list-group-item-warning{
    border: 1px solid black;
     background-color: #ccdee5;
  }
  .pname{
    color: black;
    letter-spacing: 0.1px;
    word-wrap: break-word;
  }
  .list-group-item.pname{
    font-family: 'Karla',sans-serif;
    font-size: 1.18em;
  }
  .list-group-item:last-child{
    margin-bottom: -3em;
  }
  .fac_image{
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }
  .dropdown-menu{
    border: 1px solid #072c61;
    padding: 10px;
  }
  a{
    color: black;
    transition: 0.3s ease-in-out;
  }
  a:hover{
    text-decoration: none;
    color:black;
    transform: scale(1.1,1.1);
  }
  @media screen and (max-height: 1099px){
    #column{
      margin-top: 30px;
    }
    .list-group{
      font-size: 0.9em;
    }
  }
</style>