<div class="panel" style="border: 1px solid #072c61;">
  <div class="panel-heading" style="background-color: #072c61;">
    <center><span style="font-weight: bold; color: white;">Apply For Project</span></center>
  </div>
  <div class="panel-body">

    <%= form_for @task, url:tasks_update_path(@task, id:@task.id) do |f| %>
      <%= hidden_field_tag :email, @email %>

      <div class="field form-group">
        <%= f.label :Name%>
        <%= f.text_field :name ,:value=>current_user.name,:readonly => true, :class => 'form-control'%><br>
      </div>

      <div class="field form-group">
        <%= f.label :Email%>&nbsp;<span id="spanEmail1" style="color: green;" class="glyphicon glyphicon-ok pull-right"></span>
        <%= f.text_field :email1 ,:value=>current_user.email, :class => 'form-control',:readonly => true%><br>
      </div>

      <div class="field form-group">
        <%= f.label :Year %>
        <%= f.number_field :year,:readonly => true,:value=>current_user.year, :class=> 'form-control'%><br>
      </div>
          
      <div class="form-group">
        <%= f.label :Branch %>
        <%= f.text_field :branch, :value=>current_user.branch, :readonly => true, :class=>'form-control'%><br>
      </div>

      <div class="form-group">
        <%= f.label :Percentage %>
        <%= f.text_field :percentage ,:value=>current_user.percentage, :readonly => true, :class => 'form-control'%><br>
      </div>

      <div class="form-group">
        <%= f.label :"Project name" %>
        <span style="color: #072c61; font-family:Karla,sans-serif;">(<span id="project_name_counter">30</span> Characters Remaining)</span>

        <%= f.text_field :task_name , :class => 'form-control',:value=>@task.task_name, id:'project_name'%><br>
      </div>
          
      <div class="form-group">
        <%= f.label :"Project Description" %>
        <span style="color: #072c61; font-family:Karla,sans-serif;">
        <%= f.text_area :task_desc , :class => 'form-control',:value=>@task.task_desc,id:'project_description'%><br>
      </div>

      <div class="form-group">
        <%= f.label :"Members in Project ? "%>
        <div style="padding: 10px;">
          <span class="members"><%= f.radio_button :members_count, '1',checked: true %> 1</span>
          <span class="members"><%= f.radio_button :members_count, '2' %> 2</span>
          <span class="members"><%= f.radio_button :members_count, '3' %> 3</span>
          <span class="members"><%= f.radio_button :members_count, '4' %> 4</span>
          <span class="members"><%= f.radio_button :members_count, '5' %> 5</span>
        </div>
      </div>

      <div id="emails">
        <div class="field form-group" id="email2">
          <span class="members"><%= f.label :Email%> of 2nd Member</span>&nbsp;<span id="spanEmail2" style="color: green;" class="glyphicon glyphicon-ok pull-right"></span> 
          <span id="already2" style="color:red; opacity: 0.8; font-size: 1em; font-family: 'Merriweather',serif;">Email Already Filled!</span><%= f.text_field :email2 , :class => 'form-control',autofocus: true%><br>
        </div>
        
        <div class="field form-group" id="email3">
          <span class="members"><%= f.label :Email%> of 3rd Member</span>&nbsp;<span id="spanEmail3" style="color: green;" class="glyphicon glyphicon-ok pull-right"></span>
          <span id="already3" style="color:red; opacity: 0.8; font-size: 1em; font-family: 'Merriweather',serif;">Email Already Filled!</span><%= f.text_field :email3 , :class => 'form-control',autofocus: true%><br>
        </div>
        
        <div class="field form-group" id="email4">
          <span class="members"><%= f.label :Email%> of 4th Member</span>&nbsp;<span id="spanEmail4" style="color: green;" class="glyphicon glyphicon-ok pull-right"></span>
          <span id="already4" style="color:red; opacity: 0.8; font-size: 1em; font-family: 'Merriweather',serif;">Email Already Filled!</span><%= f.text_field :email4 , :class => 'form-control',autofocus: true%><br>
        </div>
        
        <div class="field form-group" id="email5">
          <span class="members"><%= f.label :Email%> of 5th Member</span>&nbsp;<span id="spanEmail5" style="color: green;" class="glyphicon glyphicon-ok pull-right"></span>
         <span id="already5" style="color:red; opacity: 0.8; font-size: 1em; font-family: 'Merriweather',serif;">Email Already Filled!</span><%= f.text_field :email5 , :class => 'form-control',autofocus: true%><br>
        </div>
      </div>
      <div class="form-group">
        <%=f.submit "Apply Again", :class=>"btn btn-block",id:'submit_button',:style=>"background-color:#072c61; color: white;"%>
      </div>
          
    <% end %>    
  </div>
</div>

<style type="text/css">
  .form-control:focus {
  border-color: #072c61;
}
.members{
  font-family: 'Karla',sans-serif; color: #072c61;
}
@media screen and (max-width:1099px){
    .panel{
      margin-top: 90px;
    }
label{
  font-family: 'Merriweather',serif;
  color:#072c61;
  }
}
</style>