
<div class="panel" style="border: 1px solid #072c61;">
  <div class="panel-heading" style="background-color: #072c61;">
    <center><span style="font-weight: bold; color: white;">Edit Project</span></center>
  </div>
  <div class="panel-body">

    <%= form_for @task, url:tasks_update_path(@task, id:@task.id) do |f| %>
      <%= hidden_field_tag :email, @email %>

      <div class="field form-group">
        <%= f.label :Name%>
        <%= f.text_field :name ,:value=>current_user.name, :class => 'form-control',autofocus: true%><br>
      </div>

      <div class="field form-group">
        <%= f.label :Email%>
        <%= f.text_field :email1 ,:value=>current_user.email, :class => 'form-control',autofocus: true%><br>
      </div>
          
      <div class="form-group">
        <%= f.label :Year %>
        <%= f.text_field :year ,:value=>current_user.year, :class => 'form-control'%><br>
      </div>
          
      <div class="form-group">
        <%= f.label :Branch %>
        <%= f.text_field :branch ,:value=>current_user.branch.upcase, :class => 'form-control'%><br>
      </div>

      <div class="form-group">
        <%= f.label :Percentage %>
        <%= f.text_field :percentage ,:value=>current_user.percentage, :class => 'form-control'%><br>
      </div>

      <div class="form-group">
        <%= f.label :"Project name" %>
        <%= f.text_field :task_name ,:value=>@task.task_name, :class => 'form-control'%><br>
      </div>
          
      <div class="form-group">
        <%= f.label :"Project Description" %>
        <%= f.text_area :task_desc ,:value=>@task.task_desc, :class => 'form-control'%><br>
      </div>

      <div class="form-group">
        <%= f.label :"Members in Project ? "%>
        <div style="padding: 10px;">
          <span class="members"><%= f.radio_button :members_count, '1',checked: true %> 1</span>
          <span class="members"><%= f.radio_button :members_count, '2' %> 2</span>
          <span class="members"><%= f.radio_button :members_count, '3' %> 3</span>
          <span class="members"><%= f.radio_button :members_count, '4' %> 4</span>
          <span class="members"><%= f.radio_button :members_count, '5' %> 5</span>
        </div>
      </div>

      <div class="field form-group">
        <%= f.label :Email %>2nd Member 
        <%= f.text_field :email2 ,:value=>@task.email2, :class => 'form-control',autofocus: true%><br>
      </div>
      
      <div class="field form-group">
        <%= f.label :Email%>3rd Member
        <%= f.text_field :email3 ,:value=>@task.email3, :class => 'form-control',autofocus: true%><br>
      </div>
      
      <div class="field form-group">
        <%= f.label :Email%>4th Member
        <%= f.text_field :email4 ,:value=>@task.email4, :class => 'form-control',autofocus: true%><br>
      </div>
      
      <div class="field form-group">
        <%= f.label :Email%>5th Member
        <%= f.text_field :email5 ,:value=>@task.email5, :class => 'form-control',autofocus: true%><br>
      </div>

      <div class="form-group">
        <%=f.submit "Apply Again", :class=>"btn btn-block", :style=>"background-color:#072c61; color: white;"%>
      </div>
          
    <% end %>    
  </div>
</div>
