
<div class="panel panel-primary">
  <div class="panel-heading">
    <center><span style="font-weight: bold;">Apply For Project</span></center>
  </div>
  <div class="panel-body">

    <%= form_for @task, url: {action: "create"}  do |f| %>
   <%= hidden_field_tag :email, @email %>

  <div class="field form-group">
              <%= f.label :Name%>
            <%= f.text_field :name , :class => 'form-control',autofocus: true%><br>
            </div>
          
          <div class="form-group">
              <%= f.label :Year %>
            <%= f.text_field :year , :class => 'form-control'%><br>
          </div>
          
          <div class="form-group">
            <%= f.label :Branch %>
            <%= f.text_field :branch , :class => 'form-control'%><br>
          </div>

          <div class="form-group">
            <%= f.label :Percentage %>
            <%= f.number_field :percentage , :class => 'form-control'%><br>
          </div>

          <div class="form-group">
            <%= f.label :"Project name" %>
            <%= f.text_field :task_name , :class => 'form-control'%><br>
          </div>
          

          <div class="form-group">
            <%= f.label :"Project Description" %>
            <%= f.text_area :task_desc , :class => 'form-control'%><br>
          </div>

          <div class="form-group">
            <%= f.label :"Members" %>
            <%= f.number_field :members_count , :class => 'form-control'%><br>
          </div>
          <div class="form-group">

                  <%= f.submit "Apply"  ,:class => 'btn btn-block btn-primary'%>

              </div>
          
<% end %>    
  </div>
</div>
