<body>
<div class="fade">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading height"><b class="col-md-offset-5" style="font-size: 20px;">Sign In</b></div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="row">
            <%= devise_error_messages! %>
          </div>
            <div class="field form-group ">
              <%= f.label :email %><br />
              <%= f.email_field :email , :class => 'form-control',:placeholder => 'Enter your email'%>
            </div>

            <div class="field form-group ">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" , :class => 'form-control',:placeholder => 'Enter your password'%>
            </div>

            <div class="field form-group ">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" , :class => 'form-control' ,:placeholder => 'Re-Enter your password'%>
            </div>

             <div class="actions form-group">
          <%= f.submit "Sign In" , :class => 'btn btn-block btn-primary'%>
        </div>
      <% end %>
      </div>
      <div class="panel-footer">
      <%= render "admins/shared/links"%>
      </div>
      
    </div>
  </div>
</div>
</div>
</body>
<style>
  .height{
    height: 50px;
  }
  .fade{
    animation:fadein 1s;
  animation-timing-function:linear;
  animation-delay:0.1s;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;
  }
  @keyframes fadein{
    from{
      opacity: 0.3;
    }
    to{
      opacity: 1;
    }
  }
  body{
    background:linear-gradient(rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)),url('/bg5.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      overflow: hidden;
  }
</style>