
<div class="row">
	<div class="col-md-4 col-sm-12">
		<div class="panel" id="panel-1" style="border: 2px solid #072c61;">
			<div class="panel-heading" style="background-color: #072c61;">
				<h4><%=current_admin.name%></h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-4 col-md-4 col-xs-4">
						<%=image_tag current_admin.pic ,class:"img-responsive round-image"%>
					</div>
					<div class="col-sm-12 col-md-8 col-xs-6">
						<ul class="list-group">
						  <li class="list-group-item"><span style="font-family: 'Karla',sans-serif; color: #072c61;">Projects Completed</span><span class="badge"><%=current_admin.complete_projects.count%></span></li>
						  <li class="list-group-item"><span style="font-family: 'Karla',sans-serif; color: #072c61;">Projects Undergoing</span><span class="badge"><%=current_admin.ongoingProjectsCount%></span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-sm-12">
		<div class="panel panel-info" style="border: 2px solid #072c61;">
			<div class="panel-heading text-center" style="background-color: #072c61;"><h4>New Ideas</h4></div>
			<div class="panel-body" style="margin-bottom: -20px;">

				<% if @tasks.size == 0 %>
					<div class="panel">
						<div class="panel-body text-center">
							<h4 style="color: #072c61;">NEW IDEAS WILL APPEAR HERE</h4>
						</div>
					</div>
				<% end %>

				<% @tasks.each do|task|%>
					<div class="panel-group">
						<div class="panel" style="margin: -15px; border-bottom: 1px solid #072c61;">
							<div class="pull-left" style="margin: 5px;"><%=link_to'<span class="action"><span class="glyphicon glyphicon-remove" title="Reject"></span></button>'.html_safe, selected_projects_reject_path(id:task.id), method: :post%></div>
								
							<div class="pull-right" style="margin: 5px;"><%=link_to'<span class="action"><span class="glyphicon glyphicon-ok" title="Accept"></span></button>'.html_safe, selected_projects_create_path(id:task.id)%></div>
							<div class="panel-heading text-center font" style=" background-color: white; border-bottom: 2px solid #072c61; word-wrap: break-word; color: #072c61; font-size: 1.1em;"><%=task.task_name.humanize%></div>
							<div class="panel-body lead" style="word-wrap: break-word;">
								<%=task.task_desc.humanize%>
								
							</div>
							<div class="panel-footer">
								<div class="dropdown">
									<a class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="btn">Students <span class="caret"></span></a>
									<ul class="dropdown-menu">
									  	<% if task.email1 && task.email1 !=""%>
									    	<li><a class="dropdown-item" href="/active_admin/student_profile?id=<%=task.getUserId(task.email1)%>"><%=task.getUserName(task.email1)%></a></li>
							    		<% end %>
									  	<% if task.email2 && task.email2 !=""%>
									    	<li><a class="dropdown-item" href="/active_admin/student_profile?id=<%=task.getUserId(task.email2)%>"><%=task.getUserName(task.email2)%></a></li>
							    		<% end %>
									  	<% if task.email3 && task.email3 !=""%>
									    	<li><a class="dropdown-item" href="/active_admin/student_profile?id=<%=task.getUserId(task.email3)%>"><%=task.getUserName(task.email3)%></a></li>
							    		<% end %>
									  	<% if task.email4 && task.email4 !=""%>
									    	<li><a class="dropdown-item" href="/active_admin/student_profile?id=<%=task.getUserId(task.email4)%>"><%=task.getUserName(task.email4)%></a></li>
							    		<% end %>
									  	<% if task.email5 && task.email5 !=""%>
									    	<li><a class="dropdown-item" href="/active_admin/student_profile?id=<%=task.getUserId(task.email5)%>"><%=task.getUserName(task.email5)%></a></li>
							    		<% end %>
									</ul>
							    </div>
							</div>
					    </div>	
					</div>
				<% end %>
				</div>
			</div>	
		</div>			
		</div>
	</div>

	<div class="col-sm-12 col-md-4">
		<div class="panel" style="border: 2px solid #072c61;">
			<div class="panel-heading text-center" style="background-color: #072c61;" id="OnGoing"><h4>OnGoing Projects</h4></div>
			
			<% if @ongoingProjects.size == 0 %>
				<div class="panel">
					<div class="panel-body text-center">
						<h4 style="color: #072c61;">Ongoing Projects WILL APPEAR HERE</h4>
					</div>
				</div>
			<% end %>

			<div class="panel-body" style=" overflow-y: scroll;">
				<%@ongoingProjects.each do|project|%>
					<div class="panel-group">
						<div class="panel" style="margin: -21px; background-color: white;">
							<div class="panel-heading text-center font" style="word-wrap: break-word; border-top: 2px solid #072c61; border-bottom: 1px solid #072c61;"><%=project.ProjectName.humanize%></div>
							<div class="panel-body lead" style="word-wrap: break-word;">
								<%=project.Description.humanize%>
							</div>
							<div class="panel-footer">
								<div class="dropdown">
								  <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="btn">Students <span class="caret"></span></a>
								  <ul class="dropdown-menu">
								  	<% if project.email1 && project.email1 !=""%>
								    	<li><a class="dropdown-item" href="/active_admin/student_profile?id=<%=project.getUserId(project.email1)%>"><%=project.getUserName(project.email1)%></a></li>
						    		<% end %>
						    		<% if project.email2 && project.email2 !=""%>
								    	<li><a class="dropdown-item" href="/active_admin/student_profile?id=<%=project.getUserId(project.email2)%>"><%=project.getUserName(project.email2)%></a></li>
						    		<% end %>
						    		<% if project.email3 && project.email3 !=""%>
								    	<li><a class="dropdown-item" href="/active_admin/student_profile?id=<%=project.getUserId(project.email3)%>"><%=project.getUserName(project.email3)%></a></li>
						    		<% end %>
						    		<% if project.email4 && project.email4 !=""%>
								    	<li><a class="dropdown-item" href="/active_admin/student_profile?id=<%=project.getUserId(project.email4)%>"><%=project.getUserName(project.email4)%></a></li>
						    		<% end %>
						    		<% if project.email5 && project.email5 !=""%>
								    	<li><a class="dropdown-item" href="/active_admin/student_profile?id=<%=project.getUserId(project.email5)%>"><%=project.getUserName(project.email5)%></a></li>
								    <% end %>
								    </ul>
								    <%= link_to "Complete",selected_projects_complete_path(:id =>"#{project.id}"),html_options={id:'btn',class:'btn'} %>
								</div>
							</div>
					    </div>	
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-4">
		<div class="panel" style="border: 2px solid #072c61;">
			<div class="panel-heading text-center" style="background-color: #072c61;"><h4>Completed Projects</h4></div>
			<% if @completedProjects.size == 0 %>
					<div class="panel">
						<div class="panel-body text-center">
							<h4 style="color: #072c61;">Completed Projects WILL APPEAR HERE</h4>
						</div>
					</div>
				<% end %>
			<div class="panel-body" style="overflow-y: scroll;">
				<% @completedProjects.each do|project|%>
					<div class="panel-group">
						<div class="panel" style="margin: -15px -21px; ">
							<div class="panel-heading text-center font" style="word-wrap: break-word; border-top: 2px solid #072c61; border-bottom: 1px solid #072c61;"><%=project.ProjectName.humanize%></div>
							<div class="panel-body lead" style="word-wrap: break-word;">
								<%=project.Description.humanize%>
							</div>
							<div class="panel-footer">
								<div class="dropdown">
									<a class="btn dropdown-toggle dropBtn btnComplete" type="button" data-toggle="dropdown" id="btn">Students <span class="caret"></span></a>
									<ul class="dropdown-menu">
									  	<% if project.email1 && project.email1 !=""%>
									    	<li><a class="dropdown-item" href="/active_admin/student_profile?id=<%=project.getUserId(project.email1)%>"><%=project.getUserName(project.email1)%></a></li>
							    		<% end %>
									  	<% if project.email2 && project.email2 !=""%>
									    	<li><a class="dropdown-item" href="/active_admin/student_profile?id=<%=project.getUserId(project.email2)%>"><%=project.getUserName(project.email2)%></a></li>
							    		<% end %>
									  	<% if project.email3 && project.email3 !=""%>
									    	<li><a class="dropdown-item" href="/active_admin/student_profile?id=<%=project.getUserId(project.email3)%>"><%=project.getUserName(project.email3)%></a></li>
							    		<% end %>
									  	<% if project.email4 && project.email4 !=""%>
									    	<li><a class="dropdown-item" href="/active_admin/student_profile?id=<%=project.getUserId(project.email4)%>"><%=project.getUserName(project.email4)%></a></li>
							    		<% end %>
									  	<% if project.email5 && project.email5 !=""%>
									    	<li><a class="dropdown-item" href="/active_admin/student_profile?id=<%=project.getUserId(project.email5)%>"><%=project.getUserName(project.email5)%></a></li>
							    		<% end %>
									</ul>
							    </div>
							</div>
					    </div>	
					</div>
				<% end %>
				</div>
			</div>	
		</div>
	</div>	
  <%= render :partial => '/main/feedback'%>
<style type="text/css">
.panel-body{
	height: calc(100% - 40px); max-height: 480px; overflow-y: scroll; overflow-x: hidden;
}
.font{
	font-family: 'Karla',sans-serif; color: #072c61;
	font-weight: bold;
	font-size: 1.2em;
}
.round-image{
	border: 2px solid #072c61;
	border-radius: 20px;
	height: 100px; width: 100px;
}
.contact:hover{
	text-decoration: none;
}
#btn{
  background-color: white;
  letter-spacing: 1px;
  font-family: 'Karla',sans-serif; color: #072c61;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
#btn:hover{
  background-color: #072c61;
  color: white;
  transform: scale(0.9,0.9);
}
.action{
	font-size: 1.2em;
	color:#072c61;
	padding: 2px;
}
.dropBtn{
	background: transparent;
	outline: none;
	border-radius: 30px;
	border: 1px solid black;
}
.addBtn {
	color:#072c61;
	background-color: white;
	padding:4px;
	outline: none;
	font-size:20px;
	transition: 0.3s ease-in-out;
	border-radius: 40px;
}
.btnComplete{
	border:1px solid #072c61;
	display: block;
	font-weight: bold;
}
.btn:hover{
	box-shadow: 2px 2px solid grey;
	border-radius: 40px;
}
.badge{
	background-color: #072c61;
}
.panel-footer{
	background:transparent;
}
.list-group-item{
	border: 1px solid #072c61;
}
.panel-heading{
	background-color: #dcdfe5;
	font-size: 1.1em;
}
.lead{
	font-weight: bold;
}
h4{
	font-family: 'Merriweather',serif; color: white;
}
 @media screen and (max-width:1099px){
 	#panel-1{
 		margin-top: 10%;
 	}
 	.list-group{
 		width: 140%;
 	}
 	.list-group-item{
 		font-size: 1.2em;
 		font-weight: bold;
 	}
 	.font{
 		font-size: 1.2em;
 	}
 }
</style>
