<h2>Welcome<strong><%=current_admin.name%></strong></h2>

<%=link_to 'New Project', selected_projects_new_path%>

<div style="float: right;">
	<div id="wrapper">
		<div id="table-header">Undergoing Projects</div>
		<div>
			<ul id="selectedprojects">
				<table style="width:100%">
					 <tr>
					    <th>Name</th>
					    <th>Description</th> 
					    <th>Students</th>

					  </tr>
						<%@projects.each do|project|%>	  
					  <tr>
					    <td><%=SelectedProject.where(:id=>project.SelectedProject_id).first.ProjectName%></td>
					    <td><%=SelectedProject.where(:id=>project.SelectedProject_id).first.Description%></td>
					    <td>
					    
					    	<% if project.user_id1!=0%>
					    		<li><%=User.find_by_id(project.user_id1).email%></li>
					    	<% end %>
					    	<% if project.user_id2!=0%>
					    		<li><%=User.find_by_id(project.user_id2).email%></li>
					    	<% end %>
					    	<% if project.user_id3!=0%>
					    		<li><%=User.find_by_id(project.user_id3).email%></li>
					    	<% end %>
					    	<% if project.user_id4!=0%>
					    		<li><%=User.find_by_id(project.user_id4).email%></li>
					    	<% end %>
					    	<% if project.user_id5!=0%>
					    		<li><%=User.find_by_id(project.user_id5).email%></li>
					    	<% end %>
					    	<%= link_to "Complete", selected_projects_complete_path(:id =>"#{project.SelectedProject.id}") %>
					    </td>
					  </tr>
				<% end %>
				</table>	
			</ul>
		</div>
	</div>
</div>


completed Project 
<% @complete.each do|c|%>
<%=  SelectedProject.where(:id=> c.SelectedProject_id).first.Description%>
<%=  SelectedProject.where(:id=> c.SelectedProject_id).first.ProjectName%>
<% end %>

<style type="text/css">

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
th {
    text-align: center;
}
li{
	list-style: none;
}
#table-header{
	color: black;
	font-weight: bold;
	width: 90%;
	margin-left: 40px;
	text-align: center;
	padding: 10px;
}
</style>