
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-success" style="border: 1px solid black;">
			<div class="panel-heading">
				<h4><%=current_admin.name%></h4>
			</div>
			<div class="panel-body" style="height: 170px;">
				<div class="row">
					<div class="col-sm-4 col-md-4 col-xs-4">
						<%=image_tag current_admin.pic ,class:"img-responsive round-image",alt:"hero"%>
					</div>
					<div class="col-sm-8 col-md-8 col-xs-6">
						<ul class="list-group">
						  <li class="list-group-item">Projects Completed<span class="badge"><%=current_admin.complete_projects.count%></span></li>
						  <li class="list-group-item">Projects Undergoing<span class="badge"><%=current_admin.ongoingProjectsCount%></span></li>
						</ul>
						<span class="contact"><%=link_to current_admin.email,'', class:'contact'%></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-info" style="border: 1px solid black;">
			<div class="panel-heading text-center" id="OnGoing"><h4>OnGoing Projects</h4></div>
			<div class="panel-body" style=" overflow-y: scroll; overflow-x: hidden; border: 1px solid lightgrey;  height: calc(100% - 40px); max-height: 480px;">
				<%@ongoingProjects.each do|project|%>
					<div class="panel-group">
						<div class="panel panel-success" style="margin: -21px; ">
							<div class="panel-heading text-center" style="word-wrap: break-word;"><%=project.ProjectName.humanize%></div>
							<div class="panel-body lead" style="word-wrap: break-word;">
								<%=project.Description.humanize%>
							</div>
							<div class="panel-footer">
								<div class="dropdown">
								  <a class="btn dropdown-toggle dropBtn" type="button" data-toggle="dropdown">Students <span class="caret"></span></a>
								  <ul class="dropdown-menu">
								  	<% if project.email1 && project.email1 !=""%>
								    	<li><a class="dropdown-item" href="#"><%=project.getUserName(project.email1)%></a></li>
						    		<% end %>
						    		<% if project.email2 && project.email2 !=""%>
								    	<li><a class="dropdown-item" href="#"><%=project.getUserName(project.email2)%></a></li>
						    		<% end %>
						    		<% if project.email3 && project.email3 !=""%>
								    	<li><a class="dropdown-item" href="#"><%=project.getUserName(project.email3)%></a></li>
						    		<% end %>
						    		<% if project.email4 && project.email4 !=""%>
								    	<li><a class="dropdown-item" href="#"><%=project.getUserName(project.email4)%></a></li>
						    		<% end %>
						    		<% if project.email5 && project.email5 !=""%>
								    	<li><a class="dropdown-item" href="#"><%=project.getUserName(project.email5)%></a></li>
								    <% end %>
								    </ul>
								    <%= link_to "Complete",selected_projects_complete_path(:id =>"#{project.id}"),html_options={class:'complete'} %>
								</div>
							</div>
					    </div>	
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-info" style="border: 1px solid black;">
			<div class="panel-heading text-center"><h4>Completed Projects</h4></div>
			<div class="panel-body" style="height: calc(100% - 40px); max-height: 480px; overflow-y: scroll; border: 1px solid lightgrey; overflow-x: hidden;">
				<% @completedProjects.each do|project|%>
					<div class="panel-group">
						<div class="panel panel-success" style="margin: -21px; ">
							<div class="panel-heading text-center" style="word-wrap: break-word;"><%=project.ProjectName.humanize%></div>
							<div class="panel-body lead" style="word-wrap: break-word;">
								<%=project.Description.humanize%>
							</div>
							<div class="panel-footer">
								<div class="dropdown">
									<a class="btn dropdown-toggle dropBtn" type="button" data-toggle="dropdown" id="btn">Students <span class="caret"></span></a>
									<ul class="dropdown-menu">
									  	<% if project.email1 && project.email1 !=""%>
									    	<li><a class="dropdown-item" href="#"><%=project.getUserName(project.email1)%></a></li>
							    		<% end %>
									  	<% if project.email2 && project.email2 !=""%>
									    	<li><a class="dropdown-item" href="#"><%=project.getUserName(project.email2)%></a></li>
							    		<% end %>
									  	<% if project.email3 && project.email3 !=""%>
									    	<li><a class="dropdown-item" href="#"><%=project.getUserName(project.email3)%></a></li>
							    		<% end %>
									  	<% if project.email4 && project.email4 !=""%>
									    	<li><a class="dropdown-item" href="#"><%=project.getUserName(project.email4)%></a></li>
							    		<% end %>
									  	<% if project.email5 && project.email5 !=""%>
									    	<li><a class="dropdown-item" href="#"><%=project.getUserName(project.email5)%></a></li>
							    		<% end %>
									</ul>
							    </div>
							</div>
					    </div>	
					</div>
				<% end %>
				</div>
			</div>	
		</div>
	</div>	

	<div class="col-sm-4">
		<div class="panel panel-info" style="border: 1px solid black;">
			<div class="panel-heading text-center"><h4>Tasks</h4></div>
			<div class="panel-body" style="height: calc(100% - 40px); max-height: 480px; overflow-y: scroll; border: 1px solid lightgrey; overflow-x: hidden;">
				<% @tasks.each do|task|%>
					<div class="panel-group">
						<div class="panel panel-success" style="margin: -21px; ">
							<div class="panel-heading text-center" style="word-wrap: break-word;"><%=task.task_name.humanize%></div>
							<div class="panel-body lead" style="word-wrap: break-word;">
								<%=task.task_desc.humanize%>
								<%=link_to link_to '<button type="button" class="addBtn">Add Project</button>'.html_safe, selected_projects_create_path(id:task.id)%>
							</div>
							<div class="panel-footer">
								<div class="dropdown">
									<a class="btn dropdown-toggle dropBtn" type="button" data-toggle="dropdown" id="btn">Students <span class="caret"></span></a>
									<ul class="dropdown-menu">
									  	<% if task.email1 && task.email1 !=""%>
									    	<li><a class="dropdown-item" href="#"><%=task.getUserName(task.email1)%></a></li>
							    		<% end %>
									  	<% if task.email2 && task.email2 !=""%>
									    	<li><a class="dropdown-item" href="#"><%=task.getUserName(task.email2)%></a></li>
							    		<% end %>
									  	<% if task.email3 && task.email3 !=""%>
									    	<li><a class="dropdown-item" href="#"><%=task.getUserName(task.email3)%></a></li>
							    		<% end %>
									  	<% if task.email4 && task.email4 !=""%>
									    	<li><a class="dropdown-item" href="#"><%=task.getUserName(task.email4)%></a></li>
							    		<% end %>
									  	<% if task.email5 && task.email5 !=""%>
									    	<li><a class="dropdown-item" href="#"><%=task.getUserName(task.email5)%></a></li>
							    		<% end %>
									</ul>
							    </div>
							</div>
					    </div>	
					</div>
				<% end %>
				</div>
			</div>	
		</div>
	</div>
</div>

<style type="text/css">

.round-image{
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px lightgrey;
	z-index: -4px;
}
.contact:hover{
	text-decoration: none;
}

.dropBtn{
	background: transparent;
	outline: none;
	border-radius: 30px;
	border: 1px solid black;
}
.dropBtn:hover{
	color:black;
	background-color: lightblue;
}
.complete{
	float:right;
	margin-top: 5px;
	border: 1px solid blue;
	height: 25px;
	width: 80px;
	text-align: center;
	border-radius: 30px;
	color:black;
}
.complete:hover{
	text-decoration: none;
	color:black;
	background-color: lightblue;
}
.addBtn{
	border: 2px solid blue;
	width: 8em;
	height: 3em;
	color:black;
	border-radius: 40px;
	background: transparent;
	background-color: lightblue;
	outline: none;
}
#btn{
	display: block;
	font-weight: bold;
}
.btn:hover{
	box-shadow: 2px 2px solid grey;
}
.addBtn:hover{
	color:#fff;
	background-color: blue;
	font-weight: bold;
}
a{
	color:#013d71;
}

@media all and (max-width: 800px)
{
	.col-sm-8
	{
	    width: 100.666667%;
	}
	.contact
	{
		display: none;
	}
	.img-responsive{
		width: 25px;
		height: 25px;
	}
}
</style>
					    	
	