
<div class="jumbotron" style="border:2px solid white; background-color: #072c61;">
<h1 class="text-center" style="color: white; border:1px solid white; padding: 2px;"><%=@user.branch.upcase%></h1> 
</div>
<div class="container">
<div class="row" style="padding-top: 10px;" >
    <div class="col-sm-0 col-md-1"></div>
    
    <div class="col-sm-5 col-md-3 col-sm-5 profilePic">
        <% if @user.profile_pic %>
			<img src="/uploads/<%=@user.profile_pic%>" style="height: 300px; max-width: 300px; border:2px solid #072c61; border-radius: 10px;" class="img-responsive">
		<% end %>
    </div>
    
    <div class="col-sm-2"></div>
    
    <div class="col-md-5 col-sm-5" id="details" style="border:2px solid #072c61; margin-bottom: 10px;">
        <div class="panel">
            <div class="panel-body">
                <div class="row detail-row">
                    <div class="col-md-3">
                        <span class="glyphicon glyphicon-user" style="font-size: 2em;">
                    </div>
                    <div class="col-md-9">
                        <span class="details"><%=@user.name %></span>
                    </div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3">
                        <span class="glyphicon glyphicon-tag" style="font-size: 2em;">
                    </div>
                    <div class="col-md-9">
                        <span class="details"><%=@user.branch.upcase %></span>
                    </div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3">
                        <span class="glyphicon glyphicon-hourglass" style="font-size: 2em;"></span>
                    </div>
                    <div class="col-md-9">
                        <span class="details"><%=@user.year.upcase %></span>
                    </div>
                </div>
                <div class="row detail-row">
                    <div class="col-md-3">
                        <span class="glyphicon glyphicon-book" style="font-size: 2em;"></span>
                    </div>
                    <div class="col-md-9">
                        <span class="details"><%=@user.percentage%> %</span>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</div>
</div>
<style type="text/css">
	
.details{
    font-family: 'Karla', sans-serif; text-shadow: 0.5px 0.5px lightgrey; font-size: 1.1em; color:#072c61; font-size: 2em;
}
.detail-row{
    padding: 10px;
}
#details{
    margin-left: -30px;
    background-color: #fff;
}
.panel{
    margin-bottom: 0px;
}
.panel-body{
    background-color: #fff;
}
.profilePic img{
    margin-bottom: 20px;
    margin-top: -10px;
}
@media screen and (max-width:1099px){
    .jumbotron{
        margin-top: 100px;
    }
    img{
        margin-left: 6%;
    }
    #details{
        margin-top: 20px;
        margin-left: 10px;
        background-color: white;
    }
    .detail-row{
        padding: 30px;
    } 
}
</style>