<div class="page-header">
  <h1 class="text-center" style="font-family: 'Merriweather',serif; color:#922B21; "><%=@faculty.name%></h1>
</div>

<div class="row">
    <div class="col-sm-2 col-md-2"></div>
    <div class="col-sm-5 col-md-5">
        <%= image_tag("#{@faculty.pic}",size: "300x320",class:'img-circle',style:'border:2px solid #922B21')%>
    </div>
    <div class="col-sm-5 col-md-5" style="margin-left: -30px;">
        <div class="panel">
            <div class="panel-body">
                <ul class="list-group" style="border: 2px solid #922B21; border-radius: 20px;">
                  <li class="list-group-item"><span class="glyphicon glyphicon-envelope">&nbsp;</span><span class="email"><%= @faculty.email%></span></li>

                  <li class="list-group-item"><span class="glyphicon glyphicon-user">&nbsp;<a href="<%=  @faculty.namehref%>" class="link"> <%=@faculty.namehref%> </a></li>
                  
                  <li class="list-group-item"><span class="glyphicon glyphicon-tags">&nbsp;<span  style="font-family: 'Merriweather', serif; font-size: 1.2em; color: #922B21; font-weight: bold; text-shadow: 1px 1px lightgrey;">Areas Of Interest</span></span>
                    <div class="panel-body">
                    <span style="font-family: 'Karla', sans-serif; text-shadow: 0.5px 0.5px red; font-size: 1.1em;" ><%= @faculty.AOI.html_safe%></span>
                    </div></li>
                <li class="list-group-item text-center"><%= link_to "<button type='button' class='btn btn-xs apply'>Apply</button>".html_safe, tasks_new_path(:email=>"#{@faculty.email}")%></li>
                </ul>
            </div>
        </div>
        
</div>
</div>
<% if @faculty.name == "Dr. K.P.S. Rana"%>
<%=render 'bio'%>
<% end %>

<style type="text/css">
@media (max-width: 1199px)
{
    img {
    width: 100%;
    max-width: 100%;
    left: 0;
    }
}
.list-group-item:nth-child(1){
    border-radius: 20px 20px 0 0;
}
.list-group-item:last-child{
    border-radius: 0 0 20px 20px;
}
.email{
    font-family: 'Karla', sans-serif; text-shadow: 0.5px 0.5px lightgrey; font-size: 1.1em; color:#922B21;
}
.link{
    font-family: 'Karla', sans-serif; text-shadow: 0.5px 0.5px lightgrey; font-size: 1.1em; color:#922B21;
    transition: 0.3s ease-in-out;
}
.link:hover{
    font-size: 1.2em;
    color:#922B21;
}
.apply{
    background-color: #922B21;
    padding: 5px 10px 5px 10px;
    transition: 0.3s ease-in-out;
}
.apply:hover{
    color: white;
    font-weight: bold;
    transform: scale(1.1,1.1);
}
</style>