<%= @faculty.name %>
<br>
<%= image_tag("#{@faculty.pic}",size: "250x250")%>
<br>
<%= @faculty.qualifications%>
<br>
<%= @faculty.designation%>
<br>
<%= @faculty.division%>
<br>


<%= @faculty.email%>
<br>


<a href="<%=  @faculty.namehref%>"> <%=@faculty.namehref%> </a>
<br>
<%= @faculty.AOI.html_safe%>
<br>

<%= link_to "APPLY", tasks_new_path(:email=>"#{@faculty.email}")%>

