<div class="row">
  <% @faculty.each do|f|%>
    <div class="col-md-3 col-sm-3">
      <div class="flip-container" ontouchstart="this.classList.toggle('click');">
  <div class="flipper">
    <div class="front">
      <div><%= image_tag("#{f.pic}",size: "290x427")%></div>
    </div>
    <a href="/active_user/facultyShow?name=<%=f.name%>">
      <div class="back">
        <div class="back-logo">
          <%= image_tag("#{f.pic}",size: "140x140")%>
        </div>
        <div class="back-title"><%= link_to "#{f.name}",active_user_facultyShow_path(:name =>"#{f.name}")%></div>
        <div class="panel text-center" style="margin-top: 17em;"">
          <div class="panel-body">
            <span class="text-center"><%=f.AOI.html_safe%></span>
        </div>
        </div>
      </div>
    </a>
  </div>
</div>
</div>
<% end %>
</div>

<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 150px;

  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

  .flip-container:hover .flipper,  
  .flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 290px;
  height: 417px;
  
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

  background: #f8f8f8;
}

.front .name {
  font-size: 2em;
  display: inline-block;
  background: rgba(33, 33, 33, 0.9);
  color: #f8f8f8;
  font-family: Courier;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 60px;
  left: 25%;
  position: absolute;
  text-shadow: 0.1em 0.1em 0.05em #333;

  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.back-logo {
  position: absolute;
  top: 90px;
  left: 80px;
  width: 160px;
  height: 117px;
  background: 0 0 no-repeat;
}

.back-logo img{
  border-radius: 90px;
  border: 2px solid black;
}
.back-title {
  font-weight: bold;
  color: #00304a;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.05em #acd7e5;
  font-family: Courier;
  font-size: 2em;
}

.back p {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}
</style>