<div class="page-header">
  <h1>Projects <small>@<%=@category%></small></h1>
</div>

<% @project.each do |p| %>
	<div class="panel panel-default project-panel">
		<div class="panel-heading">
			<h2 class="project-name"><%=p.name.capitalize%></h2>
		</div>
			<ul class="list-group">
	    		<li class="list-group-item"><p class="h4 u">Description</p><p class="lead" style="overflow-wrap: break-word;"><%=p.desc%></p></li>
			    <li class="list-group-item"><p class="h4 u">Category</p><%=p.category%></li>
			    <li class="list-group-item"><p class="h4 u">Faculty</p><%=p.admin.email%></li>
			    <li class="list-group-item"><p class="h4 u">Limit</p><%=p.limit%></li>
			    <li class="list-group-item"><p class="h4 u">Seats Filled</p>
			    	<div class="progress">
  						<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5">
    						<p style="font-weight: bold; font-size: 15px;">4</p>
  						</div>
					</div>
				</li>        
	  			    
	  		</ul>
	  	<div class="panel-footer">
	  		<%= link_to "Apply", work_index_path,class:'btn btn-default project-name'%>
	  	</div>
	</div>
	
<%end %> 
</div>

<style type="text/css">
	.u{
		font-weight: bold;
	}
	.project-name{
		font-family: 'Fira Sans',serif;
	}
</style>

<script type="text/javascript">
	$(document).ready(function() {
		var width = 4*100/5;
		$('.progress-bar').css('width',width+"%");
	});

</script>