<nav class="navbar navbar-light navigation_bar navbar-fixed-top" style="background-color: #922B21; border-bottom: 1px solid #922B21;">
  <div class="container-fluid container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <a class="navbar-brand" href="/"><b style="font-family: 'Merriweather',serif; letter-spacing: 2px;">ISA</b>&nbsp;<span class="glyphicon glyphicon-home"></span></a>
      </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/active_user/profile?id=<%=current_user.id%>"><%=current_user.email%> <span class="glyphicon glyphicon-user"></span></a></li>
            <li><%= link_to('Logout <span class="glyphicon glyphicon-log-out"></span>'.html_safe, destroy_user_session_path, method: :delete) %></li>
            <li><%= link_to('Edit Profile <span class="glyphicon glyphicon-edit"></span>'.html_safe, active_user_edit_profile_path) %></li>
          </ul>
        </li>
      </ul>
      
    </div>
  </div>

  <div style="border-top: 1px solid #922B21; padding-left: 20px; background-color: white;">
    <div class="container">
    <span class="btn"><%= link_to "<span id='subject'>Instrumentation</span> <span class='badge'style='background-color:#922B21'>#{@countInstrumentation}</span>".html_safe,active_user_facultyIndex_path(:division =>"Instrumentation") %></span>
    <span class="btn"><%= link_to "<span id='subject'>Automation</span> <span class='badge' style='background-color:#922B21'>#{@countAutomation}</span>".html_safe,active_user_facultyIndex_path(:division =>"Automation") %></span>
  </div>
  </div>
</nav>
<style type="text/css">
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #e3f2fd;
    color: blue;}

    #subject{
      font-weight: bold;
      color:#922B21;
      font-family: 'Karla', sans-serif;
      text-shadow: 1px 1px white;
      text-decoration: none;
      font-size: 1.2em;
    }
    a{
      color: white;
      font-family: 'Karla',sans-serif;
      font-weight: bold;
      font-size: 1.1em;
    }
    a:hover{
      text-decoration: none;
      transform: scale(1.1,1.1);
      color: white;
    }
</style>
