<!DOCTYPE html>
<html>
<head>
  <title>ISA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: #e8ecf1; width: 100%;">
<% if notice %>
<script type="text/javascript">
	noty({text: '<%= notice %>',type: 'success',
    timeout: 1000});
</script>

<% end %>


<% if alert %>

<script type="text/javascript">
	noty({text: '<%= alert %>', type: 'error' ,timeout: 1000});
</script>
<% end %>

<%=render 'layouts/nav'%>
<link href="https://fonts.googleapis.com/css?family=Fira+Sans|Slabo+27px|Noto+Sans|Roboto+Condensed|Source+Sans+Pro|Arvo|Merriweather|Cabin|Karla|Lato" rel="stylesheet">
<div class="container container-fluid" style="margin-top: 8%;">
<%= yield %>	
</div>
</body>
</html>

<style type="text/css">
	body{
		margin: 0; padding: 0; background-color: white;
	}
</style>